* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
    background-color: pink;
}

/* style navbar desktop */
.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #202026;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

/* style navigation */
.navbar .navigator {
    background: transparent;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.navigator a,.logo {
    background: transparent;
    text-decoration: none;
    color: white;
}

.logo img {
    background: transparent;
}

.logo img:hover {
    background: transparent;
    cursor: pointer;
}

.navigator a:hover {
    background: transparent;
    text-decoration: none;
    color: white;
    transition: .3s;
    text-shadow: 0px 0px 10px #0586FF;
}

/* style avatar */
.navbar .profile {
    display: flex;
    align-items: center;
    font-size: 2em;
    background-color: transparent;
    margin-right: 5%;
    gap: 10px;
}

.profile img {
    background: transparent;
}

.profile i {
    font-size: 0.8em;
    color: white;
    background: transparent;
}

.profile i:hover {
    transition: .3s;
    text-shadow: 0px 0px 10px #0586FF;
    cursor: pointer;
}

.profdrop {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 15px;
    width: 140px;
    padding: 0px 5px 5px 8px;
    background-color: #202026;
    top: 45px;
    right: 20px;
    border: 1px solid #505061;
    border-radius: 5px;
}

.profdrop .proflist {
    margin: 15px 0;
    background: transparent;
}

.proflist a {
    text-decoration: none;
    background: transparent;
    color: white;
}

.proflist a:hover {
    transition: .3s;
    color:  #0586FF;
    cursor: pointer;
}

.profile:hover .profdrop {
    display: block;
}

/* style main */
.main {
    display: flex;
    border: 2px solid black;
    background: red;
    font-size: 1em;
    height: 100vh;
}

.main .hero {
    background: linear-gradient(0deg, rgba(32,32,38,1) 20%, rgba(32,32,38,0.8) 60%, rgba(255,255,255,0) 100%),url('asset/heroposter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero h1 {
    background: transparent;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10%;
    font-size: 2.5em;
}

.hero .synopsis {
    background: transparent;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 40px;
    padding-left: 10%;
}

.hero .herobtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-left: 10%;
    column-gap: 15px;
    color: white;
}

.herobtn button {
    background: transparent;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
}

.herobtn button:hover {
    cursor: pointer;
    transition: .3s;
    box-shadow: 1px -1px 15px 2px rgba(124,192,255,0.62);
    -webkit-box-shadow: 1px -1px 15px 2px rgba(124,192,255,0.62);
    -moz-box-shadow: 1px -1px 15px 2px rgba(124,192,255,0.62);
}

.herobtn .startbtn {
    background-color: #024DB7;
}

.herobtn .morebtn {
    background-color: grey;
}

.bx-info-circle, .bxs-volume-mute, .rated {
    background-color: transparent;
}

.herobtn .rated {
    border-radius: 20px;
    border: 2px solid grey;
    padding: 10px;
}

.herobtn .mute {
    border: 2px solid grey;
    justify-self: flex-end;
    padding: 10px;
}


@media (max-width: 750px) {
    /* style navbar mobile */
    .navbar {
        font-size: 11px;
    }
    
    .logo .movtxt {
        display: none;
    }

    .profdrop {
        font-size: 11px;
        width: 120px;
    }

    /* style hero mobile */


    .hero h1 {
        width: 100%;
        font-size: 2em;
        padding-left: 5%;
    }

    .hero .synopsis {
        width: 100%;
        height: 100px;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 0.8em;
        margin-bottom: 2px;
    }

    .hero .herobtn {
        padding-left: 5%;
        column-gap: 8px;
    }
    
    .herobtn button {
        font-size: 0.8em;
        padding: 8px 15px;
    }
    
    .herobtn .rated {
        font-size: 0.8em;
    }
}
